.home-container {
  margin-top: 12vh;
  height: 83vh;
  background-color: antiquewhite;
}

.home {
  background-color: aqua;
}

.table-custom {
  width: auto;
  float: left;
}

.intro-msg {
  color: red;
  font-size: 30px;
}

.error {
  padding: 30px;
  background-color: red !important;
}
